@model ResourceTracker.Models.Resource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
